IAM_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/iam_db
CATALOG_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/catalog_db
ORDERING_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ordering_db
DINEIN_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dinein_db
PAYMENT_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/payment_db
NOTIFICATION_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/notification_db
REVIEW_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/review_db
MEDIA_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/media_db

RABBITMQ_URI=amqp://guest:guest@localhost:5672
RMQ_NOTIFICATION_RETRY_DELAY_MS=15000
RMQ_NOTIFICATION_BIND_MAIN_DLX=false
NOTIFICATION_EMAIL_MAX_RETRY_COUNT=3
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
AWS_S3_PUBLIC_BASE_URL=

PRISMA_SERVICE=
